@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.noto, main .search-filter label, .article-tag {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-thin {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-light {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-regular, main .articles article .article-wrapper > div:nth-child(2) p {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-medium {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-bold {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-black {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 300;
  src: url("./bukra/29LT-Bukra-Light.ttf") format("opentype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ woff2*/
}
/* BUKRA-regular*/
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 400;
  src: url("./bukra/29LT-Bukra-Regular.ttf") format("opentype");
}
/* BUKRA-500  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 500;
  src: url("./bukra/29LT-Bukra-Medium-2.ttf") format("opentype");
}
/* BUKRA-700  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 700;
  src: url("./bukra/29LT-Bukra-Boldl.ttf") format("opentype");
}
body {
  font-family: "29lt-Bukra";
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.abad-shadow {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.article-tag {
  border-radius: 16px;
  padding: 4px 15px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 16px;
  bottom: 12px;
}

.article-tag-black {
  background-color: #1e1e1e;
}

.article-tag-blue {
  background-color: #2241cf;
}

.article-tag-yellow {
  background-color: #edb423;
}

#slider-range {
  background-color: #d8d1e2;
  height: 2px;
  border: 0 solid transparent !important;
}
#slider-range .ui-slider-range {
  height: 100%;
  background: linear-gradient(83.79deg, #1b45b4 3.25%, #1c2792 96.85%);
}
#slider-range .ui-slider-handle {
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid #1b45b4;
  border-radius: 50%;
  transform: translateY(-50%);
}

header nav {
  z-index: 2;
  width: 90%;
  position: relative;
  background-color: transparent;
}
header nav a {
  white-space: nowrap;
}
header nav .nav-list-drop {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header nav .nav-list-drop li {
  margin: 20px 0;
}

main .hero {
  position: relative;
}
main .hero .intro {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .courses .courses-preview-mode {
  color: #0f1416;
}
main .courses .courses-preview-mode.active {
  background: linear-gradient(#1b45b4 100%, #1c2792 100%);
}
main .courses .courses-preview-mode.active svg {
  color: white;
}
main .courses table {
  border-spacing: 0 10px;
  border-collapse: separate;
}
main .courses table td,
main .courses table th {
  display: block;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #3f3e43;
  border: 1px solid transparent;
}
main .courses table td.course-name,
main .courses table th.course-name {
  padding-top: 4px;
  font-size: 13px;
  display: flex;
  font-weight: 500;
  flex-direction: column;
}
main .courses table td.course-name > div,
main .courses table th.course-name > div {
  order: 1;
  font-size: 12px;
  display: flex;
  gap: 12px;
}
main .courses table td.course-name > div span,
main .courses table th.course-name > div span {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #008000;
}
main .courses table td.course-name > div span:nth-child(2),
main .courses table th.course-name > div span:nth-child(2) {
  font-size: 12px;
  color: #1b39a6;
}
main .courses table td.course-name > p,
main .courses table th.course-name > p {
  order: 2;
}
@media (min-width: 768px) {
  main .courses table td.course-name,
  main .courses table th.course-name {
    font-size: 14px;
    font-weight: 700;
  }
  main .courses table td.course-name > div,
  main .courses table th.course-name > div {
    order: 2 !important;
    font-size: 14px;
  }
  main .courses table td.course-name p,
  main .courses table th.course-name p {
    order: 1 !important;
  }
}
main .courses table td.course-start-date,
main .courses table th.course-start-date {
  display: none;
}
@media (min-width: 768px) {
  main .courses table td,
  main .courses table th {
    display: table-cell;
    padding: 14px !important;
  }
  main .courses table td.course-start-date,
  main .courses table th.course-start-date {
    display: table-cell;
  }
}
main .courses table td:nth-child(3), main .courses table td:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 768px) {
  main .courses table td:nth-child(3), main .courses table td:nth-child(2) {
    font-weight: 500;
  }
}
main .courses table .btns {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 768px) {
  main .courses table .btns {
    font-size: 12px;
  }
}
main .courses table .btns button {
  padding: 6px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
main .courses table .btns button:nth-child(1) {
  background-color: #f6f6f6;
}
main .courses table .btns button:nth-child(2) {
  background-color: #f0f6ec;
  color: #6ea641;
}
main .courses table td {
  font-size: 14px;
}
main .courses nav li {
  padding: 4px 6px;
  border-radius: 20px;
  color: #9891a3;
}
main .courses nav li button {
  display: flex;
  align-items: center;
  gap: 3px;
}
main .courses nav li button svg {
  width: 17px;
  height: 17px;
}
@media (min-width: 768px) {
  main .courses nav li {
    padding: 8px;
  }
  main .courses nav li button {
    gap: 10px;
  }
  main .courses nav li button svg {
    width: 24px;
    height: auto;
  }
}
main .courses nav li.active {
  color: white;
  background-color: #fdb614;
}
main .courses > .show-all {
  background: linear-gradient(to right, #1b45b4, #1c2792);
}
main .plan .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  padding: 20px 14px;
  width: 210px;
  margin: auto;
}
main .plan .cards .card .img {
  border-radius: 50%;
  padding: 18px;
  background-color: #fff2ec;
  width: -moz-fit-content;
  width: fit-content;
}
main .plan .cards .card figcaption h4 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 6px;
}
main .plan .cards .card figcaption p {
  font-size: 15px;
  line-height: 1.5;
}
main .reviews .cards .cards-wrapper .card {
  padding: 20px;
}
main .reviews .cards .cards-wrapper .card .card-wrapper {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-details {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-details h4 {
  font-size: 18px;
  font-weight: bold;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-details p {
  font-size: 14px;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-text {
  font: bold;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-stars {
  display: flex;
  align-items: center;
  gap: 18px;
}
main .reviews .cards .cards-wrapper .card .card-wrapper .review-stars img {
  width: -moz-fit-content;
  width: fit-content;
}
main .reviews .swiper1-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main .reviews .swiper1-prev {
  background: linear-gradient(to right, #1c2792, #1b45b4);
}
main .reviews .swiper1-next {
  background-color: rgba(30, 30, 30, 0.5);
}
main .articles article {
  padding: 12px;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  main .articles article {
    width: 33.3333333333%;
  }
}
main .articles article .article-wrapper {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
main .articles article .article-wrapper img {
  width: -moz-fit-content;
  width: fit-content;
}
main .articles article .article-wrapper > div:nth-child(2) {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
}
main .articles article .article-wrapper > div:nth-child(2) p {
  color: #172327;
}
main .articles article .article-wrapper > div:nth-child(2) h3 {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 500;
}
main .contact form .input .placeholder {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  pointer-events: none;
}
main .contact form .input input {
  flex: 1;
  color: white;
}
main .contact form .input input:focus::-moz-placeholder {
  display: none;
}
main .contact form .input input:focus::placeholder {
  display: none;
}
main .contact form .input input:not(:-moz-placeholder-shown) + span {
  font-size: 10px;
  transform: translateY(-170%) !important;
}
main .contact form .input input:not(:placeholder-shown) + span,
main .contact form .input input:focus + span {
  font-size: 10px;
  transform: translateY(-170%) !important;
}

footer .social-links > svg {
  cursor: pointer;
}
footer h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  footer h4 {
    font-size: 18px;
  }
}
footer li {
  flex-direction: column;
  display: flex;
  gap: 10px;
  font-size: 15px;
}

main .search-filter button {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(83.79deg, #1b45b4 3.25%, #1c2792 96.85%);
}
main .search-filter h3,
main .search-filter h4 {
  color: #151318;
}
main .search-filter label {
  color: #8a8394;
  font-size: 14px;
  font-weight: 500;
}

header .nav-list {
  top: 100%;
  left: 0;
}/*# sourceMappingURL=style.css.map */