* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// ROBOTO font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
//ROBOTO classes
.noto {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-thin {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.noto-light {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.noto-regular {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-medium {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.noto-bold {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.noto-black {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

//BUKRA font
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 300;
  src: url("./bukra/29LT-Bukra-Light.ttf") format("opentype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ woff2*/
}
/* BUKRA-regular*/
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 400;
  src: url("./bukra/29LT-Bukra-Regular.ttf") format("opentype");
}
/* BUKRA-500  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 500;
  src: url("./bukra/29LT-Bukra-Medium-2.ttf") format("opentype");
}
/* BUKRA-700  */
@font-face {
  font-display: swap;
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 700;
  src: url("./bukra/29LT-Bukra-Boldl.ttf") format("opentype");
}

//variables

$abad-gold: #fdb614;

//global styles

body {
  font-family: "29lt-Bukra";
}
img {
  user-select: none;
}

//Shared classes

.abad-shadow {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.article-tag {
  @extend .noto;
  border-radius: 16px;
  padding: 4px 15px;
  color: white;
  width: fit-content;
  position: absolute;
  left: 16px;
  bottom: 12px;
}
.article-tag-black {
  background-color: #1e1e1e;
}
.article-tag-blue {
  background-color: #2241cf;
}
.article-tag-yellow {
  background-color: #edb423;
}

/////////styles overriding

#slider-range {
  background-color: #d8d1e2;
  height: 2px;
  border: 0 solid transparent !important;
  .ui-slider-range {
    height: 100%;
    background: linear-gradient(83.79deg, #1b45b4 3.25%, #1c2792 96.85%);
  }
  .ui-slider-handle {
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid #1b45b4;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

//////////main styling
///
///

//home page
header {
  nav {
    z-index: 2;
    width: 90%;
    position: relative;
    background-color: transparent;
    a {
      white-space: nowrap;
    }
    .nav-list-drop{
      border-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      li{
        margin: 20px 0;
      }
    }
  }
}
main {
  .hero {
    position: relative;
    .intro {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }  
  
  .courses {
    .courses-preview-mode {
      color: #0f1416;
      &.active {
        background: linear-gradient(#1b45b4 100%, #1c2792 100%);
        svg {
          color: white;
        }
      }
    }
    table {
      border-spacing: 0 10px;
      border-collapse: separate;
      td,
      th {
        display: block;
        padding: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #3f3e43;
        border: 1px solid transparent;
        &.course-name {
          padding-top: 4px;
          font-size: 13px;
          display: flex;
          font-weight: 500;
          flex-direction: column;
          > div {
            order: 1;
            font-size: 12px;
            display: flex;
            gap: 12px;
            span {
              display: flex;
              align-items: center;
              gap: 3px;
              color: #008000;
            }
            span:nth-child(2) {
              font-size: 12px;
              color: #1b39a6;
            }
          }
          > p {
            order: 2;
          }
          @media (min-width: 768px) {
            font-size: 14px;
            font-weight: 700;
            > div {
              order: 2 !important;
              font-size: 14px;
            }
            p {
              order: 1 !important;
            }
          }
        }
        &.course-start-date {
          display: none;
        }
        @media (min-width: 768px) {
          display: table-cell;
          padding: 14px !important;
          &.course-start-date {
            display: table-cell;
          }
        }
      }
      td:nth-child(3),td:nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        @media (min-width: 768px) {
          font-weight: 500;
        }
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 10px;
        font-weight: 500;
        @media (min-width: 768px) {
          font-size: 12px;
        }
        button {
          padding: 6px 12px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
        button:nth-child(1) {
          background-color: #f6f6f6;
        }
        button:nth-child(2) {
          background-color: #f0f6ec;
          color: #6ea641;
        }
      }
    }
    table td {
      font-size: 14px;
    }
    nav {
      li {
        padding: 4px 6px;
        button {
          display: flex;
          align-items: center;
          gap: 3px;
          svg {
            width: 17px;
            height: 17px;
          }
        }
        @media (min-width: 768px) {
          padding: 8px;
          button {
            gap: 10px;
            svg {
              width: 24px;
              height: auto;
            }
          }
        }

        border-radius: 20px;
        color: #9891a3;
        &.active {
          color: white;
          background-color: $abad-gold;
        }
      }
    }
    > .show-all {
      background: linear-gradient(to right, #1b45b4, #1c2792);
    }
  }
  .plan {
    .cards {
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        text-align: center;
        background-color: white;
        padding: 20px 14px;
        width: 210px;
        margin: auto;
        .img {
          border-radius: 50%;
          padding: 18px;
          background-color: #fff2ec;
          width: fit-content;
        }

        figcaption {
          h4 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 6px;
          }
          p {
            font-size: 15px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .reviews {
    .cards {
      .cards-wrapper {
        .card {
          padding: 20px;
          .card-wrapper {
            padding: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 12px;
            .review-details {
              display: flex;
              align-items: center;
              gap: 8px;
              h4 {
                font-size: 18px;
                font-weight: bold;
              }
              p {
                font-size: 14px;
              }
            }
            .review-text {
              font: bold;
            }
            .review-stars {
              display: flex;
              align-items: center;
              img {
                width: fit-content;
              }
              gap: 18px;
            }
          }
        }
      }
    }
    .swiper1-btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .swiper1-prev {
      background: linear-gradient(to right, #1c2792, #1b45b4);
    }
    .swiper1-next {
      background-color: rgba(30, 30, 30, 0.5);
    }
  }
  .articles {
    article {
      padding: 12px;
      max-width: 320px;
      margin: 0 auto;
      @media (min-width: 767px) {
        width: calc(100% / 3);
      }
      .article-wrapper {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
        img {
          width: fit-content;
        }
        > div:nth-child(2) {
          padding: 12px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-bottom: 20px;
          p {
            @extend .noto-regular;
            color: #172327;
          }
          h3 {
            font-size: 18px;
            color: #1e1e1e;
            font-weight: 700;
          }
        }
      }
    }
  }
  .contact {
    form {
      .input {
        .placeholder {
          position: absolute;
          right: 48px;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s;
          pointer-events: none;
        }
        input {
          flex: 1;
          color: white;
        }
        input:focus::placeholder {
          display: none;
        }
        input:not(:placeholder-shown) + span,
        input:focus + span {
          font-size: 10px;
          transform: translateY(-170%) !important;
        }
      }
    }
  }
}
footer {
  .social-links {
    > svg {
      cursor: pointer;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  li {
    flex-direction: column;

    display: flex;
    gap: 10px;
    font-size: 15px;
  }
}
//
//
//courses page
//
main {
  .search-filter {
    button {
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(
        83.79deg,
        #1b45b4 3.25%,
        #1c2792 96.85%
      );
    }
    h3,
    h4 {
      color: #151318;
    }
    label {
      @extend .noto;
      color: #8a8394;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
header {
  .nav-list {
    top: 100%;
    left: 0;
  }
}
