* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// ROBOTO font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
//ROBOTO classes
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}


//BUKRA font
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 300;
  src: url("./bukra/29ltbukralight.otf") format("opentype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ woff2*/
}
/* BUKRA-regular*/
@font-face {
  font-display: swap; 
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 400;
  src: url("./bukra/29ltbukraregular.ttf") format("opentype");
}
/* BUKRA-800  */
@font-face {
  font-display: swap; 
  font-family: "29lt-Bukra";
  font-style: normal;
  font-weight: 700;
  src: url("./bukra/29ltbukrabold.ttf") format("opentype");
}
//////////////////

//variables
$abad-gold: #fdb614;

//Shared classes

.abad-shadow {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}


//main styling
body {
  font-family: "29lt-Bukra";
}
header {
  nav {
    z-index: 2;
    width: 90%;
    position: relative;
    background-color: transparent;
    a {
      white-space: nowrap;
    }
  }
}
main {
  .hero {
    position: relative;
    .intro {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .courses {
    .courses-preview-mode {
      color: #0f1416;
      &.active {
        background: linear-gradient(#1b45b4 100%, #1c2792 100%);
        svg {
          color: white;
        }
      }
    }
    table {
      td,
      th {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: #3F3E43;
      }
      .course-name{
        font-size: 14px;
      }
      .course-start-date{
        display: none;
      }
      @media (min-width: 768px) {
        border-spacing: 0 10px;
        border-collapse: separate;
        td,
        .course-start-date,
        th {
          display: table-cell;
          padding: 14px;
        }
      }
    }
    table td,
    table th {
      border: 1px solid transparent;
    }
    table th {
      font-size: 12px;
    }
    table td {
      font-size: 14px;
    }
    nav {
      li {
        padding: 8px;
        border-radius: 20px;
        font-size: 14px;
        color: #9891a3;
        &.active {
          color: white;
          background-color: $abad-gold;
        }
      }
    }
    > .show-all {
      background: linear-gradient(to right, #1b45b4, #1c2792);
    }
  }
  .plan {
    .cards {
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        text-align: center;
        background-color: white;
        padding: 20px 14px;
        width: 210px;
        .img {
          border-radius: 50%;
          padding: 18px;
          background-color: #fff2ec;
          width: fit-content;
        }

        figcaption {
          h4 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 6px;
          }
          p {
            font-size: 15px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .reviews {
    .cards {
      .cards-wrapper {
        .card {
          padding: 20px;
          .card-wrapper {
            padding: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 12px;
            .review-details {
              display: flex;
              align-items: center;
              gap: 8px;
              h4 {
                font-size: 18px;
                font-weight: bold;
              }
              p {
                font-size: 14px;
              }
            }
            .review-text {
              font: bold;
            }
            .review-stars {
              display: flex;
              align-items: center;
              img {
                width: fit-content;
              }
              gap: 18px;
            }
          }
        }
      }
    }
    .swiper1-btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .swiper1-prev {
      background: linear-gradient(to right, #1c2792, #1b45b4);
    }
    .swiper1-next {
      background-color: rgba(30, 30, 30, 0.5);
    }
  }
  .articles{
    article{
      padding: 12px;
      width: calc(100% / 3);
      .article-wrapper{
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1),;
        >img{
          width: fit-content;
        }
        >div{
          padding: 12px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-bottom: 20px;
          p{
            @extend .roboto-regular;
            color: #172327;
          }
          h3{
            font-size: 18px;
            color: #1E1E1E;
            font-weight: 700;
          }
        }
      }
    }
  }
}
